body{
  font-family: 'David Libre', serif;
  background-color: #394B54;
}
div{
  margin-right: 10px;
}

.button {
  color: #E5E9E7;
  background-color: #59ACB6;
  display: inline-block;
  text-align: center;
  border: 1px solid #59ACB6;
  border-radius: 3px;
  padding: 5px;
}

a.button{
  text-decoration: none;
}

.button:hover{
  background-color: #7abdc5;
  border: 1px solid #7abdc5;
  cursor: pointer;
}

.button-sm{
  width: 70px;
  height: 30px;
}

.button-md{
  padding-top: 12px;
  width: 90px;
  height: 40px;
}

.button-lg{
  padding-top: 30px;
  width: 110px;
  height: 50px;
}


